doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title #{nombrePagina}
        link(rel='stylesheet' href="/css/style.css")
        link(rel="stylesheet", href="/css/app.css")
    body
        .alinearV
            h1 Sistema de administración de tareas
            if locals.mensajes
                .alertas 
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p= error
            .alinear
                section.form-register
                    h4 Bienvenido
                    h4 Aquí podrás registrarte
                    form(id="formulario" method="POST" action="/login") 
                        input#correo.controls(type='email' name='email' placeholder='Ingrese su Correo' value=email)
                        input#correo.controls(type='password' name='password' placeholder='Ingrese su Contraseña' value=password)
                        input.botons(type='submit' value='Crear Cuenta')
                    a(href="/iniciar-sesion") Iniciar sesion
        script(src="/dist/bundle.js") 