extends layout
block contenido 
    .contenido-principal 
        h1 #{nombrePagina} - #{lista.nombre}

        form.agregar-tarea(action=`/listas/${lista.url}` method="POST")
            .campo  
                label(for="tarea") Tarea: 
                input.nombre-tarea(type="text" name="tarea" placeholder="Nombre Tarea")
            .campo.enviar 
                input.boton.nueva-tarea(type="submit" value="Agregar")
        //- pre= vardump(tareas)
        .listado-pendientes
            ul 
                if tareas.length 
                    each tarea in tareas 
                        li.tarea(data-tarea=tarea.id)
                            p= tarea.tarea
                            .acciones 
                                if tarea.estado
                                    i.far.fa-check-circle.completo
                                else
                                    i.far.fa-check-circle
                                i.fas.fa-trash
                else 
                    p No hay tareas en este proyecto
        //- pre= vardump(tareas)
        .avance
            h2 Avance del Proyecto 
            #barra-avance.barra-avance 
                #porcentaje.porcentaje
        .contenedor-acciones 
            a(href=`/lista/editar/${lista.id}` class="boton") Editar Lista
            button#eliminar-proyecto(data-lista-url=lista.url type="button" class="bcs") Eliminar Lista
